html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.navbar {
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.navbar .navbar-brand {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-link {
    color: #333;
    text-decoration: none;
}

.navbar .nav-link.active {
    color: #007bff;
}

.navbar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#login-btn, #register-btn {
    height: 35px;
    width: 150px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

#login-btn{
    background-color: #0066ff;
    color: #fff;
}

#register-btn{
    border: 1px solid #0066ff;
    color: #333;
}

/* login */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}



.form-a {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    border-radius: 0.5rem;
    margin: 40px 0px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login form{
    width: 620px;
    height: 750px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.register form{
    width: 760px;
    height: 1110px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.form-group-a {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.register .form-group-a{
    margin-top: 20px;
}

.form-group-a label{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;

}

.form-group-a input{ 
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    height: 40px;
    width: 450px;
}

.register .form-group-a input{
    width: 560px;
}

.register .form-group-a .input-2{ 
    width: 350px;
}

.form-a button{
    width: 484px;
}

.register .form-a button{
    width: 594px;
    margin-top: 30px;
}

.login #iniciar-sesion{
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    border: 1px;
}

#register-title{
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #0069d9;
}

.btn-primary{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}



#no-cuenta{
    width: 100%;
    text-align: center;
}

.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }


.dropdown-content .drop-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #fff !important;
}

.dropdown-content .drop-link:hover {
    background-color: rgb(0, 102, 255 , 0.2) !important;
}

.profile-pic-upload{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.Home-page,
.Favourites-page,
.Profile-page,
.EditProfile-page
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 85%;
    height: 100%;
}

.Favourites-page{
    width: 70%;
    height: 100%;
    min-height: 100%;
}

.Favourites-page .tours{
    width: 100%;
    min-height: 70vh;
}

.page-title{
    margin-right: 1rem;
    margin: 20px auto;
    width: 100%;
    font-weight: 500;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    width: 100%;
    height: 100%;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin: 0 1rem 0 0;
    padding: 0 0 1rem 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.filters.show{
    transform: translateX(0);
}


.burger-button {
    display: none;
}
.filters h2{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
}

.filters fieldset{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    
}

.filters fieldset > :last-child{
    margin-bottom: 1rem;
}

.filters fieldset legend{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.filters fieldset label{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.filters fieldset input{
    margin-bottom: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.fieldset-estrellas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tours{
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 10px;
    align-items: stretch;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.search-form{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.search-form input{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem 0 0 0.5rem;
    height: 35px;
    width: 450px;
    box-sizing: border-box;
}

.search-form input:focus{
    outline: #0066ff solid 2px;
}

.search-form button{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 35px;
    border-radius: 0 0.5rem 0.5rem 0;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.search-form button .fi-rr-search{
    font-size: 0
}

.tour-prev{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 5px 0;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.tour-img{
    width: 150px;
    height: 150px;
    border-radius: 0.5rem 0 0 0.5rem;
    object-fit: cover;
    background-color: #ffffff;
}

.tour-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
}

.tour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
}

.tour-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0; 
    
}

.tour-description {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.star, .reg-star{
    color:#0066ff;
    font-size: 20px;
    
}

.no-tours{
    text-align: center;
    margin: 1rem;
    padding: 3rem;
    color: rgb(0, 0, 0, 0.5);
}




/* footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
}

.footer .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer-text{
    color: #000000;
    font-size: 0.9rem;
    font-weight: 400;
}



.footer-link{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.footer-link:hover{
    color: #0066ff;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-link {
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 0.5rem;

}

.Create-tour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #f2f2f2;
    width: 75%;

}

.create-tour-title,
.tour-title{
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

.form-create-tour{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 0.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.form-create-tour .form-group{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 0 1rem;
    padding: 0.5rem 3rem;
}

.form-create-tour .form-group label{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-create-tour .form-group input{
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 0.5rem 1rem;

}

.form-create-tour .form-group textarea{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    resize: none;
    overflow: expand;
}

.char-counter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(0, 0, 0, 0.5);
}

.form-create-tour .form-group select{
    margin-bottom: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.upload-file{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


.selected-images {
    height: 400px;
    object-fit: contain;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel .thumbs img {
    height: 100px; 
    object-fit: contain;
}

.upload-images-tour{
    background-color: red;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #0066ff;
    border-radius: 5px;
    color: #ffffff;
}

.upload-images-tour {
    display: none; 
}

.upload-images-tour-label {
    padding: 10px;
    background-color: #0066ff; 
    color: white;
    cursor: pointer;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
}

.form-check-tags {
    display: grid;
    margin: 0.5rem 1rem 0 1rem;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px; 
}


.form-check-tags input[type="checkbox"] {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
    border-radius: 5px !important;
    outline: none;
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5rem;
}

.checkbox-group label{
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.map{
    width: 100%;
    height: 400px;
    justify-content: center !important;
    align-items: center !important;
    margin: 1rem auto;
}

.search-place-label{
    font-size: 1rem;
    font-weight: 400 !important;
    margin: 0 10px 0 0;
}

.search-place-input{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: 30px;
    width: 400px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

.star-picker{
    margin-left: 1rem;
}

.form-create-tour h2{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
}


.row{
    flex-direction: row !important;
    align-items: center;
}

.column{
    flex-direction: column !important;
}


.info-contacto{
    text-align: right;
    width: 200px;
}

.form-create-tour button[type="submit"]{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.form-create-tour .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    gap: 10px;
    padding: 1rem 4rem;
}


.form-create-tour button[type="submit"]{
    width: 200px !important;
}

.form-create-tour button[type="submit"]:hover{
    background-color: #0052cc;
    
}

.form-create-tour button[type="cancel"]{
    background-color: #ffffff;
    color: #333;
    border: 1px solid #333;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem 0;
    width: 200px;
}

.form-create-tour button[type="cancel"]:hover{
    background-color: #a50000;
    color: #fff;
}

.profile-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 80px 0 50px 0;
}

.EditProfile-page .profile-container{
    margin-top: 30px;
}

.EditProfile-page h1{
    width: 85%;
    font-size: 2rem;
    font-weight: 400;
    margin: 80px 0 0 0;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align: left;

}

.profile-container .profile-picture{
    width: 200px !important;
    height: 200px !important ;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
    margin: 1rem 0;
    position: absolute;
    top: -100px;
    
}



.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin:  0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    position: relative;
    top: 0;
    padding: 1rem;
}

.edit-profile{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 2rem !important;
    
}

.profile-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}



.profile-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}

.stat-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.profile-stats > :nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.Profile-page h1{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
}

.profile-data,
.contact-data{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


.Tour-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.asides-container{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.tour-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}



.tour-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 1rem 1rem;
    top: 0;
    padding: 1rem 1rem;
    
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    border-radius: 10px;

}
.tour{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Tour-page .tour-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.aside-ubi-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.aside-ubi-con h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem 0;
}

.aside-ubi-con .contact-data{
    margin-left: 1rem;
}

.aside-ubi-con .contact-data .fi{
    color: #0066ff;
}

.location,
.contact-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.location-shower-map{
    width: 100%;
    height: 300px;
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}
.newComment-container,
.comment{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.comment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.comment-header > :nth-child(1){
    font-size: 1.2rem;
    font-weight: 550;
    margin: 0 10px 0 0;
    align-self: flex-end;
}

.comment-header > :nth-child(2){
    margin: 0 auto 0 0;
    font-size: 0.8rem;
    font-weight: 200;
    align-self: flex-end;
}

.tour-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.fi-rr-heart,
.fi-sr-heart{
    color: #000000;
    font-size: 1.5rem;
    margin-top: 5px;
}

.red{
    color: #ff0000 !important;
}

.comments h2{
    width: 100%;
}
.newComment-container{
    flex-direction: column  !important;
    align-items: flex-start;
}

.comment-details{
    display: flex;
    flex-direction: row;
}

.comment-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.newComment{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newComment button[type="submit"]{
    border-radius: 50px;
    margin-left: auto;
    width: 120px;
    height: 40px;
}


.comments img {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    font-size: 1rem;
    resize: none;
    overflow: expand;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.comment-container{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.comment-comment {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

.tags{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0.5rem 0;
}

.tag{
    background-color: #0066ff;
    color: #fff;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
}

.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.EditProfile-page .buttons{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    margin: 0 0 0 auto;
    gap: 10px;
    padding: 1rem;
}

.EditProfile-page .buttons button[type="submit"]{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem 0;
    width: 200px;
}
  

.EditProfile-page .buttons button[type="cancel"]{
    background-color: #ffffff;
    color: #333;
    border: 1px solid #333;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 1rem 0;
    width: 200px;
}

.fi-rr-edit{
    display: none;
}


@media (max-width: 1280px) {

    .Tour-page .tour-body{
        width: 100%;
    }

    .asides-container{
        width: 100%;
        box-sizing: border-box;
    }

    .aside-ubi-con{
        border: none;
        box-shadow: none; 
    }

    .tags{
        border: none;
        box-shadow: none;    
    }


    
}



@media (max-width: 1500px) {
    .tour-description{
        font-size: 0.9rem;
    
    }
}

@media (max-width: 1100px) {
    .filters {
        position: absolute;
        z-index: 1;
        height: fit-content;
        overflow: auto;
        background: white;
        transform: translateX(-200%);
        flex-direction: column;
        width: 85%;
        max-height: 100vh; 
        overflow: auto; 
        display: flex;
    }

    .fieldSets{
        display: flex;
        flex-direction: row;}

    .filters h2 {
        flex: 0 1 auto;
        width: 100%;
    }

    .filters fieldset {
        flex: 1 0 auto;
    }

    .tours {
        width: 100%;
    }

    .burger-button {
        display: block;
        color: #0066ff;
        background-color: #f2f2f2;
        border: none;
        font-size: 1.5rem;

    }

    .Home-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 1rem;
        background-color: #f2f2f2;
        box-sizing: border-box;
    }	

    .tour-description {
        font-size: 0.8rem;
    }

    .footer .footer-text{
        display: none;
    }

    .Home-page{
        height: fit-content;
    }

    .form-check-tags {
        grid-template-columns: repeat(3, 1fr); 
    }
   

    
}


@media only screen and (max-width: 800px) {

    html,
    body{
        width: 100% !important;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .navbar .btn{
        display: none;
    }

    .login form,
    .register form{
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        box-shadow: none;
        border: none;
        justify-self: center;
        align-self: center;
        margin: auto;
    }

    .fi-rr-edit{
        display: block;
        font-size: 1.2rem !important;
    }

  
    .edit-profile{
        font-size: 0;
        background-color: #ffffff;
        color: #0066ff;
    }
    
    
    
    

    .profile-stats{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 1rem 0;
    }
    .profile-stats > :nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    .profile-stats label{
        font-size: 0.8rem;
    }

    .stat-group{
        padding: 0 0.3rem;
    }

    .tour-body{
        width: 100%;
        box-sizing: border-box;
    }
    
    .form-check-tags {
        grid-template-columns: repeat(2, 1fr); 
    }

    .search-place-input{
        width: 100%;
        box-sizing: border-box;
    }

    #star-picker{
        flex-direction: column !important;
    }

    .tours .search-form{
        width: 100%;
        box-sizing: border-box;
    }

    .tours .search-form input{
        width: 100%;
        box-sizing: border-box;
    }

}

@media only screen and (max-width: 570px){
   
    html,
    body{
        width: 100%;
        box-sizing: border-box;
    }

    .login,
    .register{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
    }

    .login .form-group-a,
    .register .form-group-a{
        width: 100%;
        ;
    }

    .login .form-group-a label{
        width: 80%;
        align-self: center;

        font-size: 1rem;
    }

    .login input{
        width: 80%;
        align-self: center;
    }

    .login .form-a button{
        width: 80%;
        align-self: center;
    }

    

    .profile-info{
        border: none;
        background-color: #ffffff;
        width: 100%;
    }

    .navbar{
        width: 100%;
        box-sizing: border-box;
    }

    .nav-link{
        display: none;
    }

    .form-check-tags {
        grid-template-columns: repeat(1, 1fr); 
    }

    .tour-prev{
        flex-direction: column !important;
        height: 100%;
    }

    .tour-info{
        width: 100%;
        box-sizing: border-box;
    }
    .tour-img{
        width: 100%;
        height: 200px;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .search-form .search-btn{
        font-size: 0;
    }

    .search-form .search-btn .fi-rr-search{
        font-size: 1.2rem;
    }
}