body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.navbar {
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.navbar .navbar-brand {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-link {
    color: #333;
    text-decoration: none;
}

.navbar .nav-link.active {
    color: #007bff;
}

.navbar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#login-btn, #register-btn {
    height: 35px;
    width: 150px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

#login-btn{
    background-color: #0066ff;
    color: #fff;
}

#register-btn{
    border: 1px solid #0066ff;
    color: #333;
}

/* login */

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}



.form-a {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    border-radius: 0.5rem;
    margin: 40px 0px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login form{
    width: 620px;
    height: 750px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.register form{
    width: 760px;
    height: 1110px;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.form-group-a {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.register .form-group-a{
    margin-top: 20px;
}

.form-group-a label{
    margin-bottom: 0.5rem;
    font-size: 1.1rem;

}

.form-group-a input{ 
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    height: 40px;
    width: 450px;
}

.register .form-group-a input{
    width: 560px;
}

.register .form-group-a .input-2{ 
    width: 350px;
}

.form-a button{
    width: 484px;
}

.register .form-a button{
    width: 594px;
    margin-top: 30px;
}

.login #iniciar-sesion{
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    border: 1px;
}

#register-title{
    width: 100%;
    font-size: 3rem;
    font-weight: 500;
    margin: 0 0 20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #0069d9;
}

.btn-primary{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

#no-cuenta{
    width: 100%;
    text-align: center;
}

.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }


.dropdown-content .drop-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    background-color: #fff !important;
}

.dropdown-content .drop-link:hover {
    background-color: rgb(0, 102, 255 , 0.2) !important;
}

.profile-pic-upload{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.Home-page,
.Favourites-page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #f2f2f2;
    width: 85%;
}

.Favourites-page{
    width: 70%;
}

.page-title{
    margin-right: 1rem;
    margin: 20px auto;
    width: 100%;
    font-weight: 500;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    width: 100%;
}

.filters{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    margin: 0 1rem 0 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.filters h2{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
}

.filters fieldset{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    
}

.filters fieldset legend{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.filters fieldset label{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.filters fieldset input{
    margin-bottom: 0.5rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.fieldset-estrellas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tours{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    align-items: stretch;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.search-form{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.search-form input{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    width: 450px;
}

.search-form input:focus{
    outline: #0066ff solid 2px;
}

.search-form button{
    background-color: #0066ff;
    color: #fff;
    border: none;
    height: 99%;
    border-radius: 0 0.5rem 0.5rem 0;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}


.tour{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 5px 0;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.2);
}

.tour-img{
    width: 150px;
    height: 150px;
    border-radius: 0.5rem 0 0 0.5rem;
    object-fit: cover;
    background-color: #ffffff;
}

.tour-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 100%;
    background-color: #ffffff;
}

.tour-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    padding-top: 0%;
}

.tour-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0; 
    
}

.tour-description {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.star, .reg-star{
    color:#0066ff;
    font-size: 20px;
    
}

.no-tours{
    text-align: center;
    margin: 1rem;
    padding: 3rem;
    color: rgb(0, 0, 0, 0.5);
}




/* footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: white;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.footer-text{
    color: #000000;
    font-size: 0.9rem;
    font-weight: 400;
}



.footer-link{
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.footer-link:hover{
    color: #0066ff;
}

.footer-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-link {
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 0.5rem;

}